MFM.Lbg.Schemas/biz_Get_Questions_ProcedureResultSet.dbo.biz_Get_Questions.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ns3="http://schemas.microsoft.com/Sql/2008/05/ProceduresResultSets/dbo/biz_Get_Questions" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/Sql/2008/05/ProceduresResultSets/dbo/biz_Get_Questions" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:appinfo>
      <fileNameHint xmlns="http://schemas.microsoft.com/servicemodel/adapters/metadata/xsd">ProcedureResultSet.dbo.biz_Get_Questions</fileNameHint>
    </xs:appinfo>
  </xs:annotation>
  <xs:complexType name="StoredProcedureResultSet0_a2789f">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Case_CaseId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="Case_ReferenceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="quse_questionsetid" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="quse_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ques_entrytype" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ques_text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ques_order" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="rset_resultsetid" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="resu_resultid" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="resu_Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="resu_Value" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="resu_comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ques_questionid" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="resu_questionid" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StoredProcedureResultSet0" nillable="true" type="ns3:StoredProcedureResultSet0_a2789f" />
  <xs:complexType name="ArrayOfStoredProcedureResultSet0_a2789f">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StoredProcedureResultSet0" type="ns3:StoredProcedureResultSet0_a2789f" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStoredProcedureResultSet0" nillable="true" type="ns3:ArrayOfStoredProcedureResultSet0_a2789f" />
</xs:schema>