MFM.Lbg.Schemas/Biz_GetCaseUpdatesPollingTypedPolling.Biz_GetCaseUpdatesPolling.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/Sql/2008/05/TypedPolling/Biz_GetCaseUpdatesPolling" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/Sql/2008/05/TypedPolling/Biz_GetCaseUpdatesPolling" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:appinfo>
      <fileNameHint xmlns="http://schemas.microsoft.com/servicemodel/adapters/metadata/xsd">TypedPolling.Biz_GetCaseUpdatesPolling</fileNameHint>
    </xs:appinfo>
  </xs:annotation>
  <xs:complexType name="TypedPollingResultSet0_3ba028">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ForcedCaseUpdPolling" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TypedPollingResultSet0" nillable="true" type="tns:TypedPollingResultSet0_3ba028" />
  <xs:complexType name="ArrayOfTypedPollingResultSet0_3ba028">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TypedPollingResultSet0" type="tns:TypedPollingResultSet0_3ba028" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTypedPollingResultSet0" nillable="true" type="tns:ArrayOfTypedPollingResultSet0_3ba028" />
  <xs:element name="TypedPolling">
    <xs:annotation>
      <xs:documentation>
        <doc:action xmlns:doc="http://schemas.microsoft.com/servicemodel/adapters/metadata/documentation">TypedPolling</doc:action>
        <doc:description xmlns:doc="http://schemas.microsoft.com/servicemodel/adapters/metadata/documentation">exec ops.Biz_GetCaseUpdatesPolling</doc:description>
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="TypedPollingResultSet0" nillable="true" type="tns:ArrayOfTypedPollingResultSet0_3ba028" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>