MFM.Lbg.Schemas/ImportFeed_ProcedureResultSet.dbo.biz_import_standard_feed.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ns4="http://schemas.microsoft.com/Sql/2008/05/ProceduresResultSets/dbo/biz_import_standard_feed" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/Sql/2008/05/ProceduresResultSets/dbo/biz_import_standard_feed" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:appinfo>
      <fileNameHint xmlns="http://schemas.microsoft.com/servicemodel/adapters/metadata/xsd">ProcedureResultSet.dbo.biz_import_standard_feed</fileNameHint>
    </xs:appinfo>
  </xs:annotation>
  <xs:complexType name="StoredProcedureResultSet0_c2efd5">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="v1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="v2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="v3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="v4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="v5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="v6" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="v7" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="i1" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="i2" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="i3" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="i4" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="i5" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="i6" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="i7" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="m1" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="m2" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="m3" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="m4" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="m5" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="m6" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="m7" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="d1" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="d2" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="d3" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="d4" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="d5" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="d6" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="d7" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StoredProcedureResultSet0" nillable="true" type="ns4:StoredProcedureResultSet0_c2efd5" />
  <xs:complexType name="ArrayOfStoredProcedureResultSet0_c2efd5">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StoredProcedureResultSet0" type="ns4:StoredProcedureResultSet0_c2efd5" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStoredProcedureResultSet0" nillable="true" type="ns4:ArrayOfStoredProcedureResultSet0_c2efd5" />
</xs:schema>