MFM.Lbg.Schemas/SAFEUPDCLIENTProcedureResultSet.dbo.biz_Visit_Outbound_Completed.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ns3="http://schemas.microsoft.com/Sql/2008/05/ProceduresResultSets/dbo/biz_Visit_Outbound_Completed" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/Sql/2008/05/ProceduresResultSets/dbo/biz_Visit_Outbound_Completed" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:appinfo>
      <fileNameHint xmlns="http://schemas.microsoft.com/servicemodel/adapters/metadata/xsd">ProcedureResultSet.dbo.biz_Visit_Outbound_Completed</fileNameHint>
    </xs:appinfo>
  </xs:annotation>
  <xs:complexType name="StoredProcedureResultSet0_19c058">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="tracking" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="message" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StoredProcedureResultSet0" nillable="true" type="ns3:StoredProcedureResultSet0_19c058" />
  <xs:complexType name="ArrayOfStoredProcedureResultSet0_19c058">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StoredProcedureResultSet0" type="ns3:StoredProcedureResultSet0_19c058" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStoredProcedureResultSet0" nillable="true" type="ns3:ArrayOfStoredProcedureResultSet0_19c058" />
</xs:schema>