MFM.Lbg.Schemas/SAPM_ProcedureResultSet.dbo.Merge_Material.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ns4="http://schemas.microsoft.com/Sql/2008/05/ProceduresResultSets/dbo/Merge_Material" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/Sql/2008/05/ProceduresResultSets/dbo/Merge_Material" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:appinfo>
      <fileNameHint xmlns="http://schemas.microsoft.com/servicemodel/adapters/metadata/xsd">ProcedureResultSet.dbo.Merge_Material</fileNameHint>
    </xs:appinfo>
  </xs:annotation>
  <xs:complexType name="StoredProcedureResultSet0_3fa964">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Action" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="iMaterialNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="dMaterialNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="uMaterialNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Date" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StoredProcedureResultSet0" nillable="true" type="ns4:StoredProcedureResultSet0_3fa964" />
  <xs:complexType name="ArrayOfStoredProcedureResultSet0_3fa964">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StoredProcedureResultSet0" type="ns4:StoredProcedureResultSet0_3fa964" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStoredProcedureResultSet0" nillable="true" type="ns4:ArrayOfStoredProcedureResultSet0_3fa964" />
</xs:schema>