MFM.Lbg.Schemas/VFM_POProcedureResultSet.dbo.biz_PO_Get_DataSet.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ns3="http://schemas.microsoft.com/Sql/2008/05/ProceduresResultSets/dbo/biz_PO_Get_DataSet" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/Sql/2008/05/ProceduresResultSets/dbo/biz_PO_Get_DataSet" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:appinfo>
      <fileNameHint xmlns="http://schemas.microsoft.com/servicemodel/adapters/metadata/xsd">ProcedureResultSet.dbo.biz_PO_Get_DataSet</fileNameHint>
    </xs:appinfo>
  </xs:annotation>
  <xs:complexType name="StoredProcedureResultSet0_90a068">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="POREF" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="PO_NUM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="COMP_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DOC_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="VENDOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PURCH_ORG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PUR_GROUP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DOC_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PROJECT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PO_ITEM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="SHORT_TEXT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="MATERIAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PLANT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="QUANTITY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NET_PRICE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="EST_PRICE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ITEM_CAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ACCTASSCAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="IR_IND" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="WBS_ELEMENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="COSTCENTER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DELIVERY_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="SCHEDQUANTITY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CITY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="POSTL_COD1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="STR_SUPPL1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="STR_SUPPL2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LOCATION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="COUNTRY" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StoredProcedureResultSet0" nillable="true" type="ns3:StoredProcedureResultSet0_90a068" />
  <xs:complexType name="ArrayOfStoredProcedureResultSet0_90a068">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StoredProcedureResultSet0" type="ns3:StoredProcedureResultSet0_90a068" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStoredProcedureResultSet0" nillable="true" type="ns3:ArrayOfStoredProcedureResultSet0_90a068" />
</xs:schema>