MFM.Lbg.Schemas/VFM_Extract.ProcedureResultSet.dbo.biz_Global_Reset_Case_Extract.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ns5="http://schemas.microsoft.com/Sql/2008/05/ProceduresResultSets/dbo/biz_Global_Reset_Case_Extract" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/Sql/2008/05/ProceduresResultSets/dbo/biz_Global_Reset_Case_Extract" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:appinfo>
      <fileNameHint xmlns="http://schemas.microsoft.com/servicemodel/adapters/metadata/xsd">ProcedureResultSet.dbo.biz_Global_Reset_Case_Extract</fileNameHint>
    </xs:appinfo>
  </xs:annotation>
  <xs:complexType name="StoredProcedureResultSet0">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="UnNamedColumn0" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="UnNamedColumn1" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StoredProcedureResultSet0" nillable="true" type="ns5:StoredProcedureResultSet0" />
  <xs:complexType name="ArrayOfStoredProcedureResultSet0">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StoredProcedureResultSet0" type="ns5:StoredProcedureResultSet0" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStoredProcedureResultSet0" nillable="true" type="ns5:ArrayOfStoredProcedureResultSet0" />
  <xs:complexType name="StoredProcedureResultSet1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="UnNamedColumn0" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="UnNamedColumn1" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StoredProcedureResultSet1" nillable="true" type="ns5:StoredProcedureResultSet1" />
  <xs:complexType name="ArrayOfStoredProcedureResultSet1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StoredProcedureResultSet1" type="ns5:StoredProcedureResultSet1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStoredProcedureResultSet1" nillable="true" type="ns5:ArrayOfStoredProcedureResultSet1" />
</xs:schema>