MFM.Lbg.Schemas/VFM_SOProcedureResultSet.dbo.biz_SO_Get_DataSet.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ns3="http://schemas.microsoft.com/Sql/2008/05/ProceduresResultSets/dbo/biz_SO_Get_DataSet" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/Sql/2008/05/ProceduresResultSets/dbo/biz_SO_Get_DataSet" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:appinfo>
      <fileNameHint xmlns="http://schemas.microsoft.com/servicemodel/adapters/metadata/xsd">ProcedureResultSet.dbo.biz_SO_Get_DataSet</fileNameHint>
    </xs:appinfo>
  </xs:annotation>
  <xs:complexType name="StoredProcedureResultSet0_a49dc3">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="SOREF" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="POSEX" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="MENGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="MATNR_EXTERNAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="WBS_POSID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CONDITION_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PRICE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="E1EDP19_QUALF_002" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="KTEXT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TDID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ITEM_TXT_1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ITEM_TXT_2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ITEM_TXT_3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="E1EDPT2_TDLINE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StoredProcedureResultSet0" nillable="true" type="ns3:StoredProcedureResultSet0_a49dc3" />
  <xs:complexType name="ArrayOfStoredProcedureResultSet0_a49dc3">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StoredProcedureResultSet0" type="ns3:StoredProcedureResultSet0_a49dc3" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStoredProcedureResultSet0" nillable="true" type="ns3:ArrayOfStoredProcedureResultSet0_a49dc3" />
</xs:schema>