MFM.Lbg.Schemas/VFM_SOProcedureResultSet.dbo.biz_SO_Get_Header.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ns4="http://schemas.microsoft.com/Sql/2008/05/ProceduresResultSets/dbo/biz_SO_Get_Header" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/Sql/2008/05/ProceduresResultSets/dbo/biz_SO_Get_Header" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:appinfo>
      <fileNameHint xmlns="http://schemas.microsoft.com/servicemodel/adapters/metadata/xsd">ProcedureResultSet.dbo.biz_SO_Get_Header</fileNameHint>
    </xs:appinfo>
  </xs:annotation>
  <xs:complexType name="StoredProcedureResultSet0_a49dc3">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="K01_ACTION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="K01_CURCY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="K01_WKURS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="K01_BSART" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="K14_Q6" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="K14_Val6" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="K14_Q7" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="K14_Val7" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="K14_Q8" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="K14_Val8" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="K14_Q11" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="K14_Val11" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="K14_Q12" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="K14_Val12" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="K14_Q16" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="K14_Val16" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="K03_I002" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="K03_I016" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="K03_I027" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="K03_Val" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="KA1_1_PARVW" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="KA1_1_PARTN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="KA1_1_IHREZ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="KA1_1_BNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="KA1_2_PARVW" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="KA1_2_PARTN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="KA1_3_PARVW" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="KA1_3_PARTN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="KA1_4_PARVW" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="KA1_4_PARTN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="KT1_TDID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="KT2_1_TDLINE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="KT2_2_TDLINE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="KT2_3_TDLINE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="SOREF" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StoredProcedureResultSet0" nillable="true" type="ns4:StoredProcedureResultSet0_a49dc3" />
  <xs:complexType name="ArrayOfStoredProcedureResultSet0_a49dc3">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StoredProcedureResultSet0" type="ns4:StoredProcedureResultSet0_a49dc3" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStoredProcedureResultSet0" nillable="true" type="ns4:ArrayOfStoredProcedureResultSet0_a49dc3" />
</xs:schema>